<app-header [icone]="icone" [headerTitle]="headerTitle"  class="mb-3 py-3"/>
<section class="px-2 sm:px-4 md:px-8 py-4">

  <!-- Grille : 1 col mobile, 3 col desktop -->
  <div class="flex flex-col md:flex-row md:flex-wrap gap-6">

    @for (image of images; track image.order_column) {

      <!-- Item : pleine largeur mobile, tiers desktop -->
      <div class="w-full md:w-[calc(33.333%-16px)]">

        <p-card styleClass="shadow-md overflow-hidden rounded-lg h-full">

          <!-- Header : Marker -->
          <ng-template pTemplate="header">


            <!-- Image -->
            @if (image.original_url) {
              <img
                [src]="image.original_url | replaceHost"
                [alt]="title"
                class="w-full object-cover mt-0 shadow-md" />
            }
          </ng-template>

          <!-- Contenu dynamique -->
          <div class="py-2 text-justify leading-relaxed">
            @switch (image.order_column) {
              @case (1) {
                <div [innerHTML]="lastOtherTeam.doctor_1"></div>
              }
              @case (2) {
                <div [innerHTML]="lastOtherTeam.doctor_2"></div>
              }
              @case (3) {
                <div [innerHTML]="lastOtherTeam.doctor_3"></div>
              }
            }
          </div>

        </p-card>

      </div>

    }

  </div>

</section>
