
<app-header
  [icone]="icone"
  [headerTitle]="headerTitle"
></app-header>
<p-splitter
[panelSizes]="[70, 30]"
[layout]="isMobile ? 'vertical' : 'horizontal'" class="w-full"
>
  <ng-template pTemplate>
    <div class="m-1 p-3">
      <video
      autoplay="true"
      muted
      loop
      >
        <source src="../../../../../medihealth.webm" type="video/webm">
        Your browser does not support the video tag.
      </video>
    </div>
  </ng-template>

  <ng-template pTemplate>

    <div class="grid gap-1 m-1 p-3">
      <div *ngFor="let image of images" class="col-6 md:col-4 py-2">
        <p-image
            class="p-3"
            src="{{image.original_url.replace('localhost', 'localhost:8000')  }}"
            [preview]="true"
            alt="Image"
            [style]="{'width': '100px', 'height':'71px', 'object-fit': 'cover'}"
            >
                <ng-template pTemplate="indicator">
                    <i class="pi pi-check"></i>
                </ng-template>
        </p-image>

      </div>

    </div>


  </ng-template>
</p-splitter>
