<!-- <div class="flex flex-column min-h-screen"> -->
<div class="min-h-screen flex flex-col"><!-- </div> -->
  <p-menubar [model]="items" class="w-full fixed top-0 bg-white z-50 shadow-3 first:"
  >
  <ng-template pTemplate="start">
   <a routerLink="/home" class=""><img src="../../../../assets/petit-logo-Photoroom.webp" alt="Logo" class="w-20"></a>
  </ng-template>
  </p-menubar>

  <!-- Main -->
  <main class="flex-1 p-5 lg:pt-20 bg-indigo-700 w-full">
    <div  class="text-center text-2xl mx-auto px-4 ">
      <router-outlet/>
    </div>
  </main>

  <!-- Footer -->
  <footer class="w-full bg-gray-800 text-white p-3 text-center">

      © 2025 - {{ currentDate }} - Tous droits réservés


  </footer>
</div>
