<div class="flex flex-column min-h-screen">

  <p-menubar [model]="items" class="w-full sticky top-0 bg-white z-50 shadow-3"
  >
  <ng-template pTemplate="start">
    <img src="../../../../petit-logo-Photoroom.png" alt="Logo" class="w-5">
  </ng-template>
</p-menubar>

  <!-- Main -->
  <main class="flex-1 p-5 bg-indigo-700">
    <div  class="text-center text-2xl">
      <router-outlet/>
    </div>
  </main>

  <!-- Footer -->
  <footer class="w-full bg-gray-800 text-white p-3 text-center">
    © 2025 - Tous droits réservés
  </footer>
</div>
