<div class="container mx-auto p-4 max-w-2xl">
  <div class="surface-card p-4 shadow-2 border-round">
    <form [formGroup]="frmCentre" class="p-fluid grid" (ngSubmit)="onSubmit()">
      <div class="field col-12 md:col-4">
        <label for="metadescription">Meta Description</label>
        <input
          pInputText
          id="metadescription"
          formControlName="metadescription"
          placeholder="Description"
          class="w-full-64 p-inputtext"
          [ngClass]="{
            'p-invalid': metadescription?.invalid && (metadescription?.dirty || metadescription?.touched)
          }"
        >
        <small *ngIf="metadescription?.invalid && (metadescription?.dirty || metadescription?.touched)"
              class="p-error">
          <span *ngIf="metadescription?.errors?.['required']">Ce champ est requis</span>
          <span *ngIf="metadescription?.errors?.['maxlength']">Maximum 160 caractères</span>
        </small>
      </div>
      <div class="field col-12 md:col-4">
        <label for="keywords">Mots clés</label>
        <input

          pInputText
          id="keywords"
          formControlName="keywords"
          placeholder="Mots clés"
          class="w-full-64 p-inputtext"
          [ngClass]="{
            'p-invalid': keywords?.invalid && (keywords?.dirty || keywords?.touched)
          }"
        >
        <small *ngIf="keywords?.invalid && (keywords?.dirty || keywords?.touched)"
              class="p-error">
          <span *ngIf="keywords?.errors?.['required']">Ce champ est requis</span>
          <span *ngIf="keywords?.errors?.['minlength']">Minimum 3 caractères</span>
        </small>
      </div>
      <div class="field col-12 md:col-4">
        <label for="hashtag">HashTag</label>
        <input

          pInputText
          id="hashtag"
          formControlName="hashtag"
          placeholder="Hashtags"
          class="w-full-64 p-inputtext"
          [ngClass]="{
            'p-invalid': hashtag?.invalid && (hashtag?.dirty || hashtag?.touched)
          }"
        >
        <small *ngIf="hashtag?.invalid && (hashtag?.dirty || hashtag?.touched)"
              class="p-error">
          <span *ngIf="hashtag?.errors?.['required']">Ce champ est requis</span>
          <span *ngIf="hashtag?.errors?.['minlength']">Minimum 3 caractères</span>
        </small>
      </div>
      <!--  -->
      <div class="field col-12 md:col-12">
        <label for="title">Titre</label>
        <input

          pInputText
          id="title"
          formControlName="title"
          placeholder="title"
          class="w-full-64 p-inputtext"
          [ngClass]="{
            'p-invalid': title?.invalid && (title?.dirty || title?.touched)
          }"
        >
        <small *ngIf="title?.invalid && (hashtag?.dirty || title?.touched)"
              class="p-error">
          <span *ngIf="title?.errors?.['required']">Ce champ est requis</span>
          <span *ngIf="title?.errors?.['minlength']">Minimum 3 caractères</span>
        </small>
      </div>
      <!----->
      <div class="field col-12 md:col-6">
        <label for="photo_1">Photo 1</label>
        <p-editor
        formControlName="photo_1"
        [style]="{ height: '200px' }"
        >
        </p-editor>
        <small *ngIf="photo_1?.invalid && (photo_1?.dirty || photo_1?.touched)"
              class="p-error">
          <span *ngIf="photo_1?.errors?.['required']">Ce champ est requis</span>
        </small>
      </div>

      <div class="field col-12 md:col-6">
        <label for="photo_2">Photo 2</label>
        <p-editor
        formControlName="photo_2"
        [style]="{ height: '200px' }"
        >
        </p-editor>
        <small *ngIf="photo_2?.invalid && (photo_2?.dirty || photo_2?.touched)"
              class="p-error">
          <span *ngIf="photo_2?.errors?.['required']">Ce champ est requis</span>
        </small>
      </div>

      <!-- Deuxième ligne -->
      <div class="field col-12 md:col-6">
        <label for="photo_3">Photo 3</label>
        <p-editor
          id="photo_3"
          formControlName="photo_3"
          [style]="{ height: '200px' }"
        ></p-editor>
        <small *ngIf="photo_3?.invalid && (photo_3?.dirty || photo_3?.touched)"
              class="p-error">
          <span *ngIf="photo_3?.errors?.['required']">Ce champ est requis</span>
        </small>
      </div>

      <div class="field col-12 md:col-6">
        <label for="photo_4">Photo 4</label>
        <p-editor
          id="photo_4"
          formControlName="photo_4"
          [style]="{ height: '200px' }"
        ></p-editor>
        <small *ngIf="photo_4?.invalid && (photo_4?.dirty || photo_4?.touched)"
              class="p-error">
          <span *ngIf="photo_4?.errors?.['required']">Ce champ est requis</span>
        </small>
      </div>
      <div class="field col-12">
        <label for="photo_5">Photo 5</label>
        <p-editor
          id="photo_5"
          formControlName="photo_5"
          [style]="{ height: '200px' }"
        ></p-editor>
        <small *ngIf="photo_5?.invalid && (photo_5?.dirty || photo_5?.touched)"
              class="p-error">
          <span *ngIf="photo_5?.errors?.['required']">Ce champ est requis</span>
        </small>
      </div>
      <!-- Bouton de soumission -->
      <div class="field col-12 flex justify-content-end">
        <button
          pButton
          pRipple
          type="submit"
          label="Enregistrer"
          class="p-button-primary"

        ></button>
      </div>
    </form>
  </div>
</div>




