<app-header class="block"
  [icone]="icone"
  [headerTitle]="headerTitle"
></app-header>
<div class="flex flex-col md:flex-row gap-4">
  <!-- Colonne 2 : ton contenu ici -->
  <div class="w-full md:w-1/2 min-h-96">
    <!-- contenu -->
     <img
      class="w-full h-full object-cover rounded-lg shadow-md"
     src="../../../../../assets/plan-cabinet.jpeg"
     alt="Plan du cabinet">
  </div>
  <!-- Colonne 1 : Carte -->
  <div class="w-full md:w-1/2 min-h-96">
    <iframe
      class="w-full h-full min-h-96 rounded-lg shadow-md"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3979.967553547672!2d9.6875350728756!3d4.027035747133551!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x106112c20b913d49%3A0x3ca80a1d889552e7!2sAv.%20du%20G%C3%A9n%C3%A9ral%20de%20Gaulle%2C%20Douala%2C%20Cameroun!5e0!3m2!1sfr!2sbe!4v1773796438502!5m2!1sfr!2sbe"
      style="border:0;"
      allowfullscreen
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>



</div>
